#table{
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    background-color: SaddleBrown;
    width: 75vw;
    height: 75vw;
    max-width: 500px;
    max-height: 500px;
    border: 2vw solid Chocolate;
}
#tableInside{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top:9%;
    width: 60vw;
    height: 60vw;
    max-width: 400px;
    max-height: 400px;
    background: linear-gradient( Maroon, transparent 1vw), linear-gradient( 90deg, Maroon, transparent 1vw);
    background-size: 34% 34%;
    background-position: center center;
    border: 0.8vw solid Maroon;
}
